stud*
out*
templates/particle_distributions
master_study/opt_*
master_study/__pycache__/
master_study/*.parquet
master_study/*.sub
master_study/tree_maker.*
Miniconda3-latest-Linux-x86_64.sh
miniconda/
tree_maker/
lhcmask/
lhcerrors/
lhctoolkit/
modules/
.vscode