# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Miniforge and miniconda
Miniforge3-Linux-x86_64.sh
miniforge/*
!miniforge/.gitkeep

# Modules
modules/*
!modules/.gitkeep

# Filling scheme
master_study/master_jobs/filling_scheme/custom_schemes/*
!master_study/master_jobs/filling_scheme/.gitkeep

# Scans
master_study/scans/*
!master_study/scans/.gitkeep

# Analysis
#master_study/analysis/*
!master_study/analysis/.gitkeep

# Other make_folder studies
#master_study/001_make_folders_*

# Submission files
master_study/submission_files/*
!master_study/submission_files/.gitkeep

# Old analysis
master_study/old/*

# AFS files
.__afs*
